@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', cursive, system-ui;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
